.dropdown-toggle::after {
    display:none !important;
}
.navbar{background: #fff;margin: 10px 10px 0px 10px;padding: 5px 20px;border-radius: 5px;}
.navbar-brand{margin:0px 40px;}
.nav-link:first-of-type{color:#9055FD}
.nav-link{color:gray}
.navbar span{color:#9055FD}
.navbar a{font-size:17px;}
.navbar-nav a,.dropdown-toggle{padding-right: 15px!important;padding-left: 15px !important;}
.btn,.btn:hover{background:#9055FD;color:#fff}
ul li{list-style-image: url('../../assets/circle.png'); font-size:16px;line-height:40px;color:gray}
ul li::marker{margin-top:10px !important;}
span{color:gray;}
img{margin: 5px 0px;cursor:pointer}

 



